<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <variable name="appTitle" value="Twainsoft SimpleRenamer"/>
  <variable name="logFilePath" value="${specialfolder:folder=ApplicationData:file=${appTitle}.log}"/>
  
  <targets>
    <target name="logfile" xsi:type="File" fileName="${logFilePath}" />
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>